          <a id="logo"
            href="{{ .Site.Params.landingPageURL | default "/" | relLangURL }}"
            style="
              color: #3d414d;
              font-family: 'Novacento Sans Wide', 'Helvetica', 'Tahoma', 'Geneva', 'Arial', sans-serif;
              font-size: 30px;
              font-weight: bold;
              margin-top: -2px;
            ">
                <img style="width: 200px; height: 200px; border-radius: 50%" src="/images/srs-icon.png" alt="SRS 2025">
            <br>
            ARS
          </a>